.download-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 70.1445px;
  padding: 0 33.336px;
  height: 70.839px;
}

.download-bar .down-btn {
  margin: 0;
  width: 331.2765px;
  border-radius: 35.4195px;
  color: #fff;
  font-size: 29.169px;
  background-color: transparent;
}

.download-bar .down-btn,.download-bar .down-btn .right-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.download-bar .down-btn .down-img {
  margin-right: 12.501px;
  width: 37.503px;
  height: 37.503px;
}

.download-bar .left {
  border: 1.389px solid rgba(255,255,255,.6);
}

.download-bar .right {
  color: #ff3a3a;
}

.download-bar .right::after {
  border: 0;
}