.m-hot-search-list {
  margin-left: 33.336px;
  color: #333;
}

.m-hot-search-list .title {
  font-weight: 500;
  font-size: 29.169px;
}

.m-hot-search-list .list-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 22.9185px 33.336px 28.4745px 0;
}

.m-hot-search-list .list-item .left {
  box-sizing: border-box;
  padding-left: 9.723px;
  width: 10%;
  font-weight: 500;
  font-size: 33.336px;
}

.m-hot-search-list .list-item .top {
  color: #ff3a3a;
}

.m-hot-search-list .list-item .normal {
  color: #999;
}

.m-hot-search-list .list-item .middle {
  width: 70%;
}

.m-hot-search-list .list-item .middle .title {
  overflow: hidden;
  margin-bottom: 2.778px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 33.336px;
}

.m-hot-search-list .list-item .middle .title .text {
  margin-right: 12.501px;
}

.m-hot-search-list .list-item .middle .title .up-icon {
  width: 20.835px;
  height: 25.6965px;
}

.m-hot-search-list .list-item .middle .title .hot-icon {
  width: 53.4765px;
  height: 25.002px;
}

.m-hot-search-list .list-item .middle .title .new-icon {
  width: 59.0325px;
  height: 25.002px;
}

.m-hot-search-list .list-item .middle .content {
  overflow: hidden;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 25.002px;
}

.m-hot-search-list .list-item .right {
  width: 20%;
  color: #ccc;
  text-align: end;
  font-size: 25.002px;
}

.search-history {
  margin-bottom: 65.283px;
  padding: 20.835px 32.6415px 0;
}

.search-history .title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 31.2525px;
  color: #333;
  font-weight: 500;
  font-size: 29.169px;
}

.search-history .title .delete-icon {
  width: 27.0855px;
  height: 27.0855px;
}

.search-history .history-tag {
  display: inline-block;
  margin-right: 18.7515px;
  margin-bottom: 20.835px;
  padding: 0 25.002px;
  height: 62.505px;
  border-radius: 69.45px;
  background: rgba(0,0,0,.03);
  color: #333;
  text-align: center;
  white-space: nowrap;
  font-size: 27.0855px;
  line-height: 62.505px;
}