.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search {
  width: calc(100% - 48px);
  position: fixed;
  padding: 12px 30px;
  background-color: white;
}

.container {
  overflow-y: scroll;
  height: 100%;
  margin-top: 80px;
  border-top: 1px solid black;
}

.suggest {
  padding: 0 30px;
}

.searchValue {
  padding: 50px 25px;
  color: #6f8eb6;
  display: flex;
}

.searchValue View {
  max-width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.searchList {
  padding: 0 25px;
  color: #747474;
}

.searchItem {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.searchItem Image {
  width: 40px;
  height: 40px;
  padding-right: 20px;
}
