.container {
  background-color: #f7f7f7;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 20px 25px;
}

.icon {
  width: 40px;
  height: 40px;
}

.marginRight {
  margin-right: 16px;
}

.marginLeft {
  margin-left: 16px;
}

.input {
  border: none;
  background-color: transparent;
  font-size: 30px;
  flex-grow: 1;
  text-align: left;
}