.simisong-item {
  position: relative;
  margin-top: 40.9755px;
  padding-right: 65.9775px;
  padding-left: 104.175px;
  height: 83.34px;
}

.simisong-item .simisong-img {
  position: absolute;
  left: 0;
  width: 83.34px;
  height: 83.34px;
  border-radius: 8.334px;
}

.simisong-item .content .content-main,.simisong-item .content .content-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  line-height: 1.5;
}

.simisong-item .content .content-title {
  display: block;
  font-size: 31.2525px;
}

.simisong-item .content .content-main {
  color: rgba(255,255,255,.6);
  font-size: 22.9185px;
}

.simisong-item .content .content-main .sq-tag {
  margin-right: 7.6395px;
  width: 25.002px;
  height: 16.668px;
}

.simisong-item .content-btn {
  position: absolute;
  top: 17.3625px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 50.004px;
  height: 50.004px;
  border: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIiIGhlaWdodD0iNzIiIHZpZXdCb3g9IjAgMCA3MiA3MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBvcGFjaXR5PSIuMiI+PGNpcmNsZSBjeD0iMzYiIGN5PSIzNiIgcj0iMzQuNSIvPjxwYXRoIGQ9Ik00Ni44MTcgMzUuMTU1TDI5LjU5MyAyNC4zODljLS44Ny0uNTQzLTEuMDkzLS40Mi0xLjA5My42MXYyMi4wMDJjMCAxLjAzMy4yMiAxLjE1NSAxLjA5My42MWwxNy4yMjQtMTAuNzY2Yy45My0uNTguOTMtMS4xMSAwLTEuNjl6Ii8+PC9nPjwvc3ZnPg==);
  background-size: contain;
  background-repeat: no-repeat;
}

.simisong-item .content-btn::after {
  border: 0;
}